{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
	<title>Comparison - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body class="comparison-alert">
	<!-- your comparison interface with alert here -->
  <div class = "container alert">
<div class="alert">
  <div class="row alert">
    <div class = "col-xs-12 alert-text">
<!--       <span class="closebtn-primary" onclick="this.parentElement.style.display='none';">&times;</span>  -->
  Alert: Polar vortex incoming in Chicago.
    </div>
  <div class = "row alert-options">
    <div class = "col-xs-6 alert-option-a">
      <button type="button" class="btn btn-dark">CHASE</button>
    </div>
    <div class = "col-xs-6 alert-option-b">
      <button type="button" class="btn btn-success">SAFETY TIPS</button>
    </div>
    </div>
   
</div>
</div>
<!--     <div class="col-xs-4 top-of-screen-battery">
      <i class="fa fa-battery-three-quarters"></i>
    </div> -->
    
  </div>
  <br> </br>
<br> </br>
<br></br>
  <br> </br>
  <br> </br>
<br> </br>
  <br> </br>
  <div class="city Berkeley">

  <div class="row">
    <div class="col-xs-8 city-name">
      Berkeley, CA
    </div>
    <div class ="col-xs-4 date">
      01/27/2019
    </div>
  </div>
<br></br>
<br></br>
  <div class="row">
    <div class="col-xs-3 small-forecast">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d60510ba-fb1b-4eb1-ae74-4c2f3a5ddd6c/davyat5-39759ba9-3fb2-44a0-9d13-34df859f486f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q2MDUxMGJhLWZiMWItNGViMS1hZTc0LTRjMmYzYTVkZGQ2Y1wvZGF2eWF0NS0zOTc1OWJhOS0zZmIyLTQ0YTAtOWQxMy0zNGRmODU5ZjQ4NmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zE4mtCzXKHX7aenrIGtchjvK6GgmOJEebJ49yapbdEA" class="symbol-forecast"></img>
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d60510ba-fb1b-4eb1-ae74-4c2f3a5ddd6c/davyat5-39759ba9-3fb2-44a0-9d13-34df859f486f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q2MDUxMGJhLWZiMWItNGViMS1hZTc0LTRjMmYzYTVkZGQ2Y1wvZGF2eWF0NS0zOTc1OWJhOS0zZmIyLTQ0YTAtOWQxMy0zNGRmODU5ZjQ4NmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zE4mtCzXKHX7aenrIGtchjvK6GgmOJEebJ49yapbdEA" class="symbol-forecast"></img>

    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d60510ba-fb1b-4eb1-ae74-4c2f3a5ddd6c/davyat5-39759ba9-3fb2-44a0-9d13-34df859f486f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q2MDUxMGJhLWZiMWItNGViMS1hZTc0LTRjMmYzYTVkZGQ2Y1wvZGF2eWF0NS0zOTc1OWJhOS0zZmIyLTQ0YTAtOWQxMy0zNGRmODU5ZjQ4NmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zE4mtCzXKHX7aenrIGtchjvK6GgmOJEebJ49yapbdEA" class="symbol-forecast"></img>

    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d60510ba-fb1b-4eb1-ae74-4c2f3a5ddd6c/davyat5-39759ba9-3fb2-44a0-9d13-34df859f486f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q2MDUxMGJhLWZiMWItNGViMS1hZTc0LTRjMmYzYTVkZGQ2Y1wvZGF2eWF0NS0zOTc1OWJhOS0zZmIyLTQ0YTAtOWQxMy0zNGRmODU5ZjQ4NmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zE4mtCzXKHX7aenrIGtchjvK6GgmOJEebJ49yapbdEA" class="symbol-forecast"></img>

    </div>
  </div>
  <br> </br>
  <div class="row">
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
     50° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
     51° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
      53° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
      50° F
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      10am
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      11am
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      12pm
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      1pm
    </div>
  </div>
<br> </br>
<br> </br>
  <br> </br>
  <br> </br>
<div class="city Chicago">

  <div class="row">
    <div class="col-xs-8 city-name">
      Chicago, IL
    </div>
    <div class ="col-xs-4 date">
      01/27/2019
    </div>
  </div>
<br></br>
<br></br>
  <div class="row">
    <div class="col-xs-3 small-forecast">
      <img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/105495/snow_flake_icon_4.png" class="symbol-forecast"></img>
</div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
<img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/105495/snow_flake_icon_4.png" class="symbol-forecast"></img>
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
<img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/105495/snow_flake_icon_4.png" class="symbol-forecast"></img>
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert symbol of forecast-->
<img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/105495/snow_flake_icon_4.png" class="symbol-forecast"></img>
    </div>

  </div>
  <br> </br>

  <div class="row">
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
     20° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
     25° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
      27° F
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert temp-->
      26° F
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      10am
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      11am
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      12pm
    </div>
    <div class="col-xs-3 small-forecast">
<!--        insert time-->
      1pm
    </div>
  </div>

  <div class = "row">
    <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
</div> 
</body>
</html>
